<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Facebook Cybersecurity</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet" />
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link href="styles/style.css" rel="stylesheet" />
    </head>
    <body>
        <div id="modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-title-content"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-text-content"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="modal-button"></button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="modal-login" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal-login" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modal-login-title">Login</h4>
                    </div>
                    <div class="modal-body text-center">
                        <p>
                            Processors view from advices like photonic kahlesses.
                        </p>
                        <p>
                        <div id="fb-login-button" class="fb-login-button" data-max-rows="1"
                             data-size="large" data-button-type="continue_with"
                             data-show-faces="false" data-auto-logout-link="false"
                             data-use-continue-as="false" onlogin="Facebook.checkLoginState();" scope="email">
                        </div>
                        </p>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="container">
            <div class="row form-header">
                <div class="col-lg-12 text-center h1Container">
                    <h1>Facebook Cybersecurity</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <ul class="nav nav-tabs nav-custom" role="tablist">
                        <li role="presentation" class="col-lg-6 text-center active">
                            <a href="#hasher" aria-controls="hasher" role="tab" data-toggle="tab">Hash a post</a>
                        </li>
                        <li role="presentation" class="col-lg-6 text-center">
                            <a href="#validate" aria-controls="validate" role="tab" data-toggle="tab">Validate a post</a>
                        </li>
                    </ul>
                    <div id="panel" class="panel panel-default">
                        <div class="panel-body tab-content">
                            <div id="hasher" role="tabpanel" class="container-fluid tab-pane fade active in">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="link">URL to resource</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button id="checkBtn" class="btn btn-default" type="button">Hash!</button>
                                        </span>
                                        <input id="link" type="text" class="form-control"
                                               placeholder="URL to resource" required>
                                        <span id="linkIcon" class="glyphicon form-control-feedback"></span>
                                    </div>
                                </div>
                                <div id="tips">
                                    <h5>The link must be as the following examples:</h5>
                                    <ul>
                                        <li>https://www.facebook.com/xxxx/posts/0000000000</li>
                                        <li>https://www.facebook.com/xxxx/videos/0000000000</li>
                                        <li>https://www.facebook.com/xxxx/photos/a.0000.0000/00000</li>
                                        <li>https://www.facebook.com/permalink.php?story_fbid=0000&id=0000</li>
                                    </ul>
                                </div>
                                <div id="progress">
                                    <h5>Progress... <span class="complete" style="display: none;">Complete!</span> </h5>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div id="result" class="list-group" style="display: none;">
                                    <a class="list-group-item break-word active">Result</a>
                                    <a class="list-group-item">Creation date: <span id="result_creation-date"></span></a>
                                    <a class="list-group-item break-word">Owner: <span id="result_owner"></span></a>
                                    <a class="list-group-item">Code: <span id="result_code"></span></a>
                                    <a class="list-group-item break-word">Sha-256 Hash: <span id="result_hash"></span></a>
                                    <a href="#" target="_blank" class="list-group-item active button" id="result_download">
                                        <h4 class="text-center no-margin">Download!</h4>
                                    </a>
                                </div>
                            </div>
                            <div id="validate" role="tabpanel" class="container-fluid tab-pane fade">
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="code">Code of the resource</label>
                                    <input id="code" type="text" class="form-control"
                                           placeholder="Code of the resource" required>
                                    <span class="glyphicon form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label" for="hash">Hash of the resource</label>
                                    <input id="hash" type="text" class="form-control"
                                           placeholder="Hash of the resource" required />
                                    <span class="glyphicon form-control-feedback"></span>
                                </div>
                                <div class="form-group">
                                    <button id="validateBtn" class="btn btn-primary btn-large">Check!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script charset="utf-8" type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="js/md5.min.js"></script>
        <script charset="utf-8" type="text/javascript" src="js/Cookies.js"></script>
        <script charset="utf-8" type="text/javascript" src="js/Facebook.js"></script>
        <script charset="utf-8" type="text/javascript" src="js/App.js"></script>
    </body>
</html>