{% extends "index.twig" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Facebook Cybersecurity</h1>
            <p>Girls are the vogons of the lunar death.</p>
            <p>
            <div id="fb-login-button" class="fb-login-button" data-max-rows="1"
                 data-size="large" data-button-type="continue_with"
                 data-show-faces="false" data-auto-logout-link="false"
                 data-use-continue-as="false" onlogin="Facebook.checkLoginState();" scope="email">
            </div>
            </p>
        </div>
    </div>
{% endblock content %}