html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-custom {
    border-bottom: 0;
}

.form-header {
    height: 75px;
    margin-bottom: 50px;
    padding: 20px;
}
    .form-header > .h1Container {
        height: inherit;
        margin-top: 25px;
    }
        .form-header > .h1Container > h1 {
            vertical-align: middle;
            display: inline-block;
            margin: 0;
        }

/* Panel */
div#progress {
    display: none;
}
    div > .progress {
        height: 10px;
    }
div#tips {
    display: none;
    color: #a94442;
}

.break-word {
    word-wrap: break-word;
}

.btn-large {
    width: 100%;
}

#result > a.list-group-item:hover:not(:first-child):not(:last-child),
#result > a.list-group-item:focus:not(:first-child):not(:last-child) {
    background-color: transparent;
}

#result > a.list-group-item:hover:last-child,
#result > a.list-group-item:focus:last-child {
    background-color: #64aa65;
}

#result > a.list-group-item.button {
    color: #fff;
    background-color: #67b769;
    border-color: #67b769;
}
    #result .no-margin {
        margin: 0;
    }
    #result > a > span {
        font-weight: bold;
    }